<div class="large-box">
  <h1><%= @message %></h1>
  <h2>Score: <%= @score %></h2>
  <h3>You entered "<%= @word %>"</h3>

  <button class="letter" id="less-padding"><%= link_to "Try again!", :new %></button>
</div>
