// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game-board {
  display: flex;
  justify-content: center;
}

.letter {
  background-color: #495CB6;
  color: white;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: lighter;
}

.large-box {
  width: 70%;
  margin: 100px auto;
  text-align: center;
  border: 1px solid rgba(232,223,232,1);
  border-radius: 5px;
  box-shadow: 5px 5px 2px 0px rgba(232,223,232,1);
  background-color: #D6F0FF;
  font-family: "FreightSansPro", "Helvetica", "sans-serif";
  font-weight: bold;
}

#less-padding {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#less-padding a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
